:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hide {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.loader {
  font-size: 10px;
  margin: 35vh auto;
  overflow: hidden;
  text-indent: -9999em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: #46A7C5;
  background: -moz-linear-gradient(left, #46A7C5 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #46A7C5 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #46A7C5 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #46A7C5 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #46A7C5 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #46A7C5;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #F5F5F5;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.landing-outer {
  height: 100vh;
  background-color: rgba(0, 146, 190, 0.8);
}

.landing-wrapper{
  display:grid;
  grid-template-columns: 1fr;
  height: 100vh;
  align-content: center;
  text-align: center;
}

.welcome{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.sub-tag{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loginorsign{
  display: inline;
  margin-top: 2rem;
}

.landing-or{
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.landing-btn {
  display: inline;
   background-color: white;
   padding: 0.8rem 1.3rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-left: 2rem;
   margin-right: 2rem;
}

.landing-btn > a {
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.auth {
  height: 100vh;
}

.auth-card {
  background: white;
  width: 60%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  -moz-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
}

.auth-header{
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #707070;
  text-align: center;
  width: 100%
}

.auth-secondary{
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #707070;
  text-align: center;
  width: 100%
}

.form-group{
  text-align: center;
}

.form-group > input {
  border: none;
  border-bottom: .6px solid #707070b4;
  font-family: 'Open Sans', sans-serif;
  width: 50%;
  height: 2rem;
  padding-left: .3rem;
  color: #000000d0;
}

.form-group > input:focus {
  outline: none;
  border-bottom: .6px solid #258ce0;
}

input[name="firstName"] {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[name="lastName"] {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[name="email"] {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[name="password"] {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[name="password2"] {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[name="submit"] {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[name="login-email"] {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[name="login-password"] {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[name="login-submit"] {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-form-submit {
  text-align: center;
  margin-top: 10%;
}

.auth-form-submit > input {
  width: 50%;
  height: 3rem;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: #707070b4;
  background-color: #DBDBDB;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form-submit > input:hover {
  background-color: rgb(189, 189, 189);
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(22, 22, 22);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  font-family: 'Open Sans', sans-serif;
  z-index: 1000;
}

.alert-danger {
  background: #e7273a;;
  color: #fff;
}

.alert-success {
  background:  #28a745;
  color: #fff;
}

nav > div {
  font-size: 1.6em;
  min-height: 50px;
  padding: .7rem 4rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  text-align: center;
  background-color: #46A7C5;
}

.logo {
  display: grid;
  justify-items: start;
  align-items: center;
}

.logo-img {
  width: 10rem;
  padding: none;
  display: grid;
  align-items: center;
}

.search{
  display: grid;
  justify-items: center;
  align-items: center;
}

.search-form{
  width: 100%;
}

.seach-input{
  width: 100%;
  height: 2.3rem;
  padding-left: 15px;
  max-width: 50rem;
  font-family: 'Open Sans', sans-serif;
}

.account-btn-wrapper{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-items: end;
}

.settings-btn{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: .5rem 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;;
}

.settings-btn > i {
  color: white;
}

.inline-block {
  display: inline-block;
}

.logout-btn{
  margin: none;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: .5rem 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-color: transparent;
}

.logout-btn:hover{
  cursor: pointer;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: minmax(300px, 500px) minmax(600px, 800px) minmax(300px, 500px);
  grid-gap: 3rem;
  justify-content: center;
}

.banner-wrapper{
  display: grid;
}

.banner-card{
  background: white;
  margin-top: 2rem;
  margin-left: 3rem;
  align-content: center;
  min-height: 20rem;
  max-height: 25rem;
  -webkit-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  -moz-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
}

.banner-profile-info{
  margin-left: 20%;
}

.profile-info-banner > i{
  color: #2EC9B8;
  padding-right: 1rem;
}

.profile-info-banner{
  font-family: 'Open Sans', sans-serif;
  color: #808080;
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

.profile-description-banner{
  font-family: 'Open Sans', sans-serif;
  color: #808080;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.create-profile-wrapper{
  margin-top: 3rem;
  text-align: center;
}

.create-profile-btn{
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #2EC9B8;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
}

.profile-pic {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.profile-pic > img {
  border-radius: 50%;
  width: 6rem;
  border: 5px solid #46A7C5;
  display: block;
  margin: auto;
}

.user-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.user-name-link{
  text-decoration: none;
  color: black;
}

.user-name-link:hover {
  text-decoration: underline;
}

.postform-card{
  background-color: white;
  margin-top: 2rem;
  padding: .7rem;
  -webkit-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  -moz-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
}

.post-input{
  width: 100%;
  height: 6rem;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: .7rem;
}

.post-submit{
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  color: white;
  background-color: #2EC9B8;
}

.post-submit:hover{
  cursor: pointer;
}

.note-card{
  background-color: white;
  margin-right: 3rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  max-height: 60vh;
  overflow: auto;
  -webkit-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  -moz-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
}

.note-header{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.no-note {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 2rem;
}

hr {
  width: 80%;
  margin-left: 10%;
}

.settings-header{
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  color: #707070;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.settings-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  padding-bottom: 2rem;
}

.settings-card {
  background-color: white;
  height: 33rem;
  -webkit-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  -moz-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
}

.privacy-settings{
  margin-right: 3rem;
}

.avatar-settings{
  margin-left: 3rem;
}

.settings-card-header{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
}

.profile-pic-settings{
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.profile-pic-settings > img{
  border-radius: 50%;
  width: 10rem;
  border: 5px solid #46A7C5;
  display: block;
  margin: auto;
}

.profile-pic-input{
  text-align: center;
  margin-bottom: 2rem;
}

.profile-pic-input > input {
  font-family: 'Open Sans', sans-serif;
  height: 2.5rem;
  width: 50%;
  border-radius: 5px;
  border: 2px solid #46A7C5;
  padding-left: 5px;
}

.profile-pic-input > input:focus {
  outline: none;
}

.profile-pic-btn > input{
  font-family: 'Open Sans', sans-serif;
  background-color: #46A7C5;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  display: block;
  margin: auto;
  cursor: pointer;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
}

.info-input{
  display: block;
  width: 80%;
  margin: auto;
  height: 2rem;
  border: none;
  border-bottom: 1px solid rgba(2, 138, 183, 0.473);
  margin-top: 1.5rem;
  padding-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

.info-input:focus {
  outline: none;
  border-bottom: 1.5px solid rgba(0, 191, 255, 1);
}

.info-text{
  width: 80%;
  height: 5rem;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  padding-left: 10px;
  padding-top: 5px;
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(2, 138, 183, 0.473);
}

.info-text:focus {
  border: 1.5px solid rgba(0, 191, 255, 1);
  outline: none;
}

.info-submit{
  font-family: 'Open Sans', sans-serif;
  background-color: #2EC9B8;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  display: block;
  float: right;
  margin-right: 10%;
  cursor: pointer;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
}

.privacy-label{
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  color: #656565;

  margin-left: 1rem;
}

.view-profile{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.follow{
  margin-bottom: 3rem;
}

select {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  color: #656565;
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding-left: 8px;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  float: right;
  margin-right: 1rem;
}

.blocked-card{
  color: #656565;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  padding-left: 8px;
  padding-top: 8px;
  background-color: #F8F8F8;
  height: 8rem;
  width: 12rem;
  border-radius: 5px;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  float: right;
  margin-right: 1rem;
}

.blocked-profiles{
  margin-bottom: 11rem;
}

.delete-btn-wrapper {
  padding-top: 13rem;
  text-align: center;
}

.delete-btn{
  background-color: #C92E38;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
}

.profiles-wrapper {
  display: grid;
  justify-content: center;
  width: 100%;
}

.profiles-header{
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.profiles {
  width: 100%;
}

.profile-item-card{
  background-color: white;
  width: 100%;
  margin-bottom: 2rem;
  -webkit-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  -moz-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
}

.profile-item-wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.profile-item-avatar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: center;
}

.profile-item-avatar > img{
  border-radius: 50%;
  width: 9rem;
}

.profile-item-nd{
  padding-top: 3rem;
  padding-left: 2rem;
}

.profile-item-name{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

.profile-item-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.profile-item-view{
  margin-top: 75%;
}

.profile-item-btn{
  float: right;
  margin-right: 1rem;
  background-color: #2EC9BE;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
}

.profile-top-wrapper{
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}

.profile-top-nd{
  background-color: #46A7C5;
  padding-right: 18rem;
  padding-left: 18rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  position: relative;
}

.profile-top-nd > img {
  border-radius: 50%;
  border: 5px solid white;
}

.profile-top-name{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.profile-top-description{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.profile-top-info{
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.center-text{
  text-align: center;
}

.follow-button{
  position: absolute;
  right: 1rem;
}

.truefollow{
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.profile-top-bio-missing{
  font-family: 'Open Sans', sans-serif;
}

.info-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.profile-top-bio-header{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-info {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
}

.profile-info > i{
  color: #2EC9B8;
  padding-left: 2rem;
  padding-right: 1rem;
}

.post-card{
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  -moz-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
}

.post-grid{
  display: grid;
  grid-template-columns: 15% 75% 10%;
  grid-template-rows: repeat(1, 1fr);
}

.post-avatar {
  padding: 1.5rem;
}

.post-avatar > img{
  border-radius: 50%;
  width: 4.5rem;
}

.post-nt{
  padding-top: 1.8rem;
  padding-left: 0.5rem;
}

.post-name-wrapper{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.post-text-wrapper {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  word-wrap: break-word;
}

.post-link-wrapper{
 margin-left: 1rem;
}

.post-link{
  text-decoration: none;
  color: white;
  background-color: #2EC9B8;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
}

.meatball{
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  padding: 0.3rem 0.2rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.meatball:hover{
  background-color: rgb(238, 238, 238);
}

.meatball > i {
  font-size: 18px;
}

.commentinfo{
  padding-left: 1.5rem;
}

.commentinfo > span {
  font-family: 'Open Sans', sans-serif;
  margin-right: 1rem;
}

.main-post-grid{
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: minmax(400px, 650px) minmax(300px, 400px);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.main-post-card {
  background-color: white;
  border: 1px solid #707070;
  border-radius: 5px;
  height: 40vh;
  min-height: 480px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-post-header-grid {
  display: grid;
  grid-template-columns: 18% 82%;
  align-items: center;
}

.main-post-avatar{
  padding-left: 1rem;
  padding-top: 1rem;
}

.main-post-avatar > img{
  border-radius: 50%;
  width: 5rem;
}

.main-post-name{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.main-post{
  font-family: 'Open Sans', sans-serif;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  height: 70%;
  line-height: 2;
}

.main-post-likes{
  margin-left: 1rem;
  display: inline-block;
}

.main-post-likes > #like-btn {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.unliked > #like-btn {
  border: 1px solid #0088FF;
  color: #0088FF;
}

.liked > #like-btn {
  border: none;
  background-color: #0088FF;
  color: white;
}

.comment-card{
  background-color: white;
  border: 1px solid #707070;
  border-radius: 5px;
  height: 40vh;
  min-height: 480px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.comment-header{
  text-align: center;
  padding-top: 1.5rem;
}

.comment-header > span{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #333946;
}

.comment-header > hr {
  width: 60%;
  margin-left: 20%;
  border: none;
  border-bottom: 1px solid #707070;
  padding-bottom: 0.5rem;
}

.comment-hr{
  border: none;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #707070;
}

.comment-item-wrapper{
  height: 70%;
  overflow-y: auto;
  padding-top: 1rem;
}

.comment-form-grid{
  display: grid;
  grid-template-columns: 75% 25%;
}

.comment-textbox{
  resize: none;
  width: 90%;
  margin-left: 10%;
  margin-top: 0.3rem;
  border: 1px solid #707070;
  border-radius: 5px;
  padding-left: 7px;
  font-family: 'Open Sans', sans-serif;
  height: 4.7rem;
}

.comment-submit {
  color: white;
  background-color: #2EC9BE;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.3rem;
  height: 4.7rem;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  width: 70%;
  margin-right: 10%;
  cursor: pointer;
  -webkit-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 6px 6px -5px rgba(0,0,0,0.2);
}

.comment-item-card{
  background-color: #EBEBEB;
  margin-bottom: 0.7rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
}

.comment-item-grid{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.comment-item-avatar {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.comment-item-avatar > img{
  border-radius: 50%;
  width: 3rem;
}

.comment-item-nc{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.comment-item-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

.comment-item-comment{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}

.comment-item-like > #like-btn{
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  font-size: 0.7rem;
}

.comment-delete{
  float: right;
  margin-bottom: 0.3rem;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  padding: 0.1rem 0.25rem;
  cursor: pointer;
  border: none;
}

.comment-delete:hover{
  background: rgb(177, 177, 177);
}

.note-item-card{
  background-color: #F3F3F3;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.note-item-grid {
  display: grid;
  grid-template-columns: 25% 70% 5%;
}

.note-item-avatar{
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
}

.note-item-avatar > img{
  border-radius: 50%;
  width: 2.5rem;
}

.note-item-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  padding-top: 1rem;
}

.note-item-delete > button{
  border-radius: 50%;
  padding-left: 3px;
  padding-right: 3px;
  border: none;
  background-color: none;
  cursor: pointer;
}

.note-item-delete > button:hover {
  background-color: grey;
}

@media only screen and (max-height: 1000px) {
  .auth-secondary{
    top: 16%;
    font-size: .8rem;
  }

  input[name="firstName"] {
    top: 28%;
  }

  input[name="lastName"] {
    top: 38%;
  }

  input[name="email"] {
    top: 48%;
  }

  input[name="password"] {
    top: 58%;
  }

  input[name="password2"] {
    top: 68%;
  }

  input[name="submit"] {
    top: 85%;
  }
} 

@media only screen and (max-height: 950px) {
  .comment-header > span {
    font-size: 1.2rem;
  }

  .comment-header {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 1300px) {
  .dashboard-wrapper {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  nav {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .logo-img {
    width: 9rem;
    padding: none;
  }

  .account-btn-wrapper{
    justify-items: end;
  }

  .dashboard-wrapper {
    grid-template-columns: 40% 60%;
    grid-gap: 2rem;
  }

  .dashboard-posts-wrapper{
    padding-right: 2rem;
  }

  .post-grid {
    grid-template-columns: 22% 73% 5%;
  }

  .post-grid div:nth-child(1) {
    grid-row: 1/1;
    grid-column: 1/3
  }
  .post-grid div:nth-child(2) {
    grid-row: 1/1;
    grid-column: 2/3
  }
  .post-grid div:nth-child(3) {
    grid-row: 1/1 !important; 
    grid-column: 3/3 !important;
  }
  .dashboard-wrapper div:nth-child(1){
    grid-row: 1/2;
    grid-column: 1/2
  }

  .dashboard-wrapper div:nth-child(2){
    grid-row: 1/2;
    grid-column: 2/2
  }

  .dashboard-wrapper div:nth-child(3){
    grid-row: 1/2;
    grid-column: 1/2
  }

  .note-card {
    margin-top: 30rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    width: calc(100% - 3rem);
  }
}


@media only screen and (max-width: 1100px) {
  .form-group > input {
    width: 75%;
  }

  .auth-form-submit > input {
    width: 75%;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    max-width: 90%;
  }

  nav {
    grid-template-columns: 1fr 3fr 1fr;
  }

  nav > div {
    min-height: 75px;
    padding: .7rem 3rem;
  }

  .logo-img {
    width: 7rem;
    padding: none;
  }

  .settings-btn{
    padding: .5rem 1rem;
    font-size: .8rem;
  }

  
  .logout-btn{
    padding: .5rem 1rem;
    font-size: .8rem;
  }

  .settings-wrapper {
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .settings-wrapper div:nth-child(1) {
    grid-row: 1 / 2;
  }

  .settings-wrapper div:nth-child(2) {
    grid-row: 2 / 2;
  }

  .profile-item-wrapper {
    grid-template-columns: 25% 55% 20%;
    align-content: center;
    align-items: center;
  }

  .profile-item-avatar > img {
    width: 90%;
  }

  .profile-item-nd {
    padding-top: 0;
  }

  .profile-item-name {
    font-size: 1.3rem;
  }

  .profile-top-nd {
    padding-left: 20%;
    padding-right: 20%;
  }

  .profile-top-nd > img {
    width: 45%;
  } 

  /* .info-wrapper {
    grid-template-columns: 1fr 1fr;
  } */

  .profile-info {
    font-size: 0.8rem;
  }

  .main-post-grid{
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .main-post-grid div:nth-child(1) {
    grid-row: 1 / 2;
  }

  .main-post-grid div:nth-child(2) {
    grid-row: 2 / 2;
  }

  .main-post-header-grid {
    grid-template-columns: 18% 82%;
  }

  .main-post-header-grid div:nth-child(1) {
    grid-row: 1/1;
  }

  .main-post-header-grid div:nth-child(2) {
    grid-row: 1/1;
  }

  .comment-form-grid {
    grid-template-columns: 75% 25%;
  }

  .comment-form-grid div:nth-child(1) {
    grid-row: 1/1;
  }

  .comment-form-grid div:nth-child(2) {
    grid-row: 1/1;
  }

  .comment-item-wrapper {
    height: 60%;
  }

  .comment-submit {
    height: 100%;
    padding: 0;
  }

  .comment-textbox {
    height: 100%;
  }

  .scroll{
    overflow-y: auto;
  }

  .main-post-card {
    height: 50vh;
    min-height: 0;
    margin-bottom: 0;
  }

  .main-post-avatar > img {
    width: 4rem;
  }

  .main-post-name {
    font-size: 1rem;
  }

  .main-post {
    height: 68%;
    padding-top: 0;
  }

  .main-post-likes {
    padding-top: 0.5rem;
  }

  .comment-card {
    margin-top: 0;
    height: 30vh;
    min-height: 0;
  }
  
  .comment-tb-wrapper{
    height: 100%;
  }

  .comment-submit-wrapper{
    height: 100%;
  }

  .comment-item-grid div:nth-child(1) {
    grid-row: 1/1;
  }

  .comment-item-grid div:nth-child(2) {
    grid-row: 1/1;
  }

  .comment-item-grid div:nth-child(3) {
    grid-row: 1/1;
  }

}

@media only screen and (max-width: 775px) {
  nav {
    grid-template-columns: 1fr 4fr 1fr;
  }

  nav > div {
    min-height: 75px;
    padding: .7rem 1.5rem;
  }

  .logo-img {
    width: 7rem;
    padding: none;
  }

  .settings-btn{
    padding: .5rem 1rem;
    font-size: .8rem;
  }
  
  .info-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .profile-info {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 725px) {
  .note-card {
    display: none;
    width: 0;
    height: 0;
    margin:0;
    padding: 0;
  }

  .note-only-card{
    background-color: white;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
    max-height: 60vh;
    overflow: auto;
    -webkit-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
    -moz-box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
    box-shadow: 11px 10px 8px -7px rgba(0,0,0,0.26);
  }

  .dashboard-wrapper {
    grid-template-columns: 1fr;
  }

  .dashboard-wrapper div:nth-child(1) {
    grid-column: 1/1
  }

  .dashboard-wrapper div:nth-child(2) {
    grid-column: 1/1
  }

  .dashboard-posts-wrapper {
    margin-top: 14rem;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  .banner-card {
    background-color: rgb(236, 236, 236);
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .post-grid div:nth-child(1) {
    grid-column: 1/3 !important;
  }

  .post-grid div:nth-child(2) {
    grid-column: 2/3 !important;
  }

  .post-grid div:nth-child(3) {
    grid-column: 3/3 !important;
  }

  .banner-card {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 15rem;
    min-height: 0;
  }

  .banner-card div:nth-child(1) {
    grid-column: 1/2;
  }

  .banner-card div:nth-child(2) {
    grid-column: 1/2;
  }

  .banner-card div:nth-child(3) {
    grid-column: 2/2;
  }

  .profile-pic {
    padding-left: 2rem;
  }

  .profile-pic > img {
    width: 5rem;
  }

  .user-name {
    font-size: 1rem;
    padding-left: 2rem;
    margin-top: 6.5rem;
  }

  .settings-btn {
    display: none;
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    margin: 0;
  }

  .logout-btn {
    display: none;
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    margin: 0;
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    top: 80px;
    z-index: 100000;
  }

  .menu-link {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    color: black;
  }

  .logout-smbtn {
    text-align: center;
    margin: auto;
    background: transparent;
    width: 100%;
    border: none;
  }

  .menu-link:hover {
    background-color: #f4f4f4;
  }

  .account-btn-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .account-btn-wrapper .menu {
    clear: both;
    max-height: 0;
    transition: max-heght .2s ease-out;
  }

  .account-btn-wrapper .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .account-btn-wrapper .menu-icon .navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  

  .account-btn-wrapper .menu-icon .navicon::before,
  .account-btn-wrapper .menu-icon .navicon::after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .account-btn-wrapper .menu-icon .navicon::before {
    top: 5px;
  }

  .account-btn-wrapper .menu-icon .navicon::after {
    top: -5px;
  }

  .account-btn-wrapper .menu-btn {
    display: none;
  }

  .account-btn-wrapper .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .account-btn-wrapper .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .account-btn-wrapper .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .account-btn-wrapper .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .account-btn-wrapper .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .account-btn-wrapper .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
  }

  .nav-note-btn{
    color: white;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 725px) {

}

@media only screen and (max-width: 600px) {
  .main-post-header-grid {
    grid-template-columns: 30% 70%;
  }
}

@media only screen and (min-width: 726px) {
  .menu-btn ,
  .menu-icon,
  .menu, 
  .menu-link,
  .note-only-card,
  .nav-note-btn
  {
    display: none;
    padding: none;
    margin: none;
    width: 0;
    height: 0;
  }
}

@media only screen and (max-width: 550px) {
  .auth-card {
    width: 85%;
  }

  .auth-secondary{
    top: 16%;
    font-size: .8rem;
  }

  input[name="firstName"] {
    top: 28%;
  }

  input[name="lastName"] {
    top: 38%;
  }

  input[name="email"] {
    top: 48%;
  }

  input[name="password"] {
    top: 58%;
  }

  input[name="password2"] {
    top: 68%;
  }

  input[name="submit"] {
    top: 85%;
  }

  nav {
    grid-template-columns: 0 3fr .5fr;
  }

  nav > div {
    min-height: 75px;
    padding: .7rem 1rem;
  }

  .settings-header{
    font-size: 2rem;
  }

  .profile-item-name {
    font-size: 1rem;
  }

  .profile-item-btn {
    font-size: 0.7rem;
    padding: 0.3rem 1rem;
    float: left;
  }

  .main-post-card {
    height: 50vh;
    min-height: 0;
    margin-bottom: 0;
  }

  .main-post-avatar > img {
    width: 4rem;
  }

  .main-post-name {
    font-size: 1rem;
  }

  .main-post {
    font-size: 0.8rem;
    height: 60%;
    padding-top: 0;
  }

  .main-post-likes {
    padding-top: 0.5rem;
  }

  .comment-card {
    margin-top: 0;
    height: 30vh;
    min-height: 0;
  }
} 

@media only screen and (max-width: 450px) {

  .post-avatar > img {
    width: 3.5rem;
  }
  .post-name-wrapper {
    font-size: 0.9rem;
  }

  .post-text-wrapper {
    font-size: 0.9rem;
  }

  .welcome{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .landing-logo > img {
    width: 10rem;
  }
  
  .sub-tag{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .loginorsign{
    display: inline;
    margin-top: 2rem;
  }
  
  .landing-or{
    font-family: 'Open Sans', sans-serif;
    color: white;
  }
  
  .landing-btn {
    display: inline;
     background-color: white;
     padding: 0.6rem 1rem;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-left: 2rem;
     margin-right: 2rem;
  }
  
  .landing-btn > a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
  }
}


@media only screen and (max-width: 370px) {

  .post-avatar > img {
    width: 3rem;
  }
  .post-name-wrapper {
    font-size: 0.8rem;
  }

  .post-text-wrapper {
    font-size: 0.8rem;
  }

  .commentinfo {
    font-size: 0.8rem;
  }
}

@media only screen and (max-height: 800px) {
  .comment-item-wrapper {
    height: 40%;
  }

  .main-post {
    height: 60%;
  }
}
